.scrollingWrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

}

.card {
  display: inline-block;
  border: 1px solid white;
  width: 150px;
  height: 75px;
  background: grey;
  flex: 0 0 auto;
}